{% extends 'base.html.twig' %}

{% block title %}Hello ShowListBookController!{% endblock %}

{% block body %}
    <h1 class="text-xl text-center">Book list</h1>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 p-10">
    {% for book in books %}
        <article
                class="rounded-lg border border-gray-100 bg-white p-4 shadow-sm transition hover:shadow-lg sm:p-6"
        >
        <span class="inline-block rounded bg-blue-600 p-2 text-white">
            <h4>{{ book.author }}</h4>
        </span>


                <h3 class="mt-0.5 text-lg font-medium text-gray-900">
                    {{ book.title }}
                </h3>


            <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
                Date de publication:{{ book.publicationDate ? book.publicationDate|date('Y-m-d') : '' }}
            </p>
            <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
                ISBN:{{ book.isbn }}
            </p>
            <div class="flex gap-3">
            <a href="{{ path('book_detail', {'id': book.id}) }}" class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600">
                Voir
                <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
                 &rarr;
                </span>
            </a>

            <a href="{{ path('update_book', {'id': book.id}) }}" class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600">
                Modifier
                <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
                 &rarr;
                </span>
            </a>
                <form method="post" action="{{ path('book_delete', {'id': book.id}) }}" onsubmit="return confirm('Are you sure you want to delete this book?');" style="display:inline;">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                    <button class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-red-600">
                        Supprimer
                        <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
                 &rarr;
                </span>
                    </button>
                </form>
           
            </div>
        </article>
    {% endfor %}
    </div>


{% endblock %}
