{% extends 'base.html.twig' %}

{% block title %}Hello ShowListBookController!{% endblock %}

{% block body %}
    <h1>Book list</h1>

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Date</th>
            <th>ISBN</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publicationDate ? book.publicationDate|date('Y-m-d') : '' }}</td>
                <td>{{ book.isbn }}</td>
                <td>
                    <a href="{{ path('book_detail', {'id': book.id}) }}">show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
